h2 {
  color: blue;
  font-family: verdana;
  font-size: 300%; text-align: center;
}
p {
  color: blue;
  font-family: courier;
  font-size: 100%; border: 5px solid powderblue;
  padding: 40px; background-color: white; text-align: justify;
}

body { background-color: #498ab0 }

li {
  border: 5px solid powderblue;
  padding: 10px; background-color: white; text-align: center; 
}
td {
  border: 5px solid powderblue;
  padding: 15px; background-color: white; text-align: center; 
}
table {
  text-align: center; 
  width: 100%;
}







