body {
    margin: 0;
    background-image: url("capybgimage.jpg");
	background-size: cover;
    background-position: center;
    background-repeat: no repeat;
    height: 100vh;	
}

.header {
    background-color: #8B6F47;
    color: white;
    text-align: center;
    padding: 20px;
}

.heading {
	color: #6B4F2A;
	font-family: Monospace;
    text-shadow: 0 0 30px #6B4F2A,
               0 0 10px #e9e1d4,
               0 0 20px #e9e1d4;
}

.paragraph {
	font-family: Cursive;
	color: #e9e1d4;
	font-style:  italic;
    text-shadow: 0 0 10px #6B4F2A,
                 0 0 20px #6B4F2A,
                 0 0 30px #6B4F2A;
}

.paragraph2{
	font-family: Cursive;
	color: #e9e1d4;
    text-shadow: 0 0 10px #6B4F2A,
                 0 0 20px #6B4F2A,
                 0 0 30px #6B4F2A;
}

h2 {
    font-family: Monospace;
	color: #e9e1d4;
    transition: 0.3s ease;

}

h2:hover {
	transform: scale(1.1);
}

h1 {
    font-family: Monospace;
	color: #e9e1d4;
    transition: 0.3s ease;

}

h:hover {
	transform: scale(1.1);
}

.span {
    color: #FFF8E7;
	font-style: italic;
}

.spantwo {
	color: #FFF8E7;
	font-style: bold;
}

#main {
	font-family: Cursive;
    text-shadow: 0 0 10px #c2a178,
                 0 0 20px #a67c52,
                 0 0 30px #8b5e3c;
    transition: 0.3s ease;
}

#main:hover {
    text-shadow: 0 0 30px #6B4F2A,
               0 0 10px #e9e1d4,
               0 0 20px #e9e1d4;
}

.navbar {
    background-color: transparent;
}

.navbar ul {
    list-style-type: none;
    margin: 1px;
    padding: 1px;
    text-align: center;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a {
    color: #e9e1d4;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
	font-size: 16px;
	font-family: Monospace;
	position: relative;
}

.navbar ul li a:hover {
    background-color: #A67C52;
    color: #e9e1d4;
    transition: 0.3s;
    font-size: 20px;
	border-radius: 20px;
    text-shadow: 0 0 30px #6B4F2A,
               0 0 10px #e9e1d4,
               0 0 20px #e9e1d4;
    box-shadow: 0 0 10px #c2a178,
                 0 0 20px #e9e1d4,
                 0 0 30px #8b5e3c;
}

.navbar ul li a.active {
    background-color: #A67C52;
    font-weight: bold;
	border-radius: 20px;
    text-shadow: 0 0 30px #6B4F2A,
               0 0 10px #e9e1d4,
               0 0 20px #e9e1d4;
    box-shadow: 0 0 10px #c2a178,
                 0 0 20px #e9e1d4,
                 0 0 30px #8b5e3c;
}

.section {
    padding: 20px;
    text-align: center;
}

.product {
    background-color: white;
    margin: 10px auto;
    padding: 15px;
    width: 60%;
    border: 2px solid #A67C52;
}

.form-section {
    text-align: center;
    padding: 20px;
}

input, textarea {
    width: 60%;
    padding: 6px;
    border: 1px solid #8B6F47;
}

button {
    background-color: transparent;
	border-style: inset;
	border-color: #A67C52;
	border-radius: 34px;
    color: #e9e1d4;
    padding: 15px 32px;
	margin: 20px auto;
	font-size: 16px;
	font-family: Cursive;
	font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
	display: block;
	justify-content: center;
}

a.button {
	text-decoration: none;
	color: #e9e1d4

}
button:hover {
    color: #e9e1d4;
    transition: all 0.3s ease;
	border-style: outset;
	border-color: #A67C52;

    font-size: 18px;
    text-shadow: 0 0 30px #6B4F2A,
               0 0 10px #e9e1d4,
               0 0 20px #e9e1d4;
    box-shadow: 0 0 10px #c2a178,
                 0 0 20px #e9e1d4,
                 0 0 30px #8b5e3c;
}

.footer {
    background-color: #6B4F2A;
    color: #e9e1d4;
    text-align: center;
    padding: 10px;
	font-size: 10px;
	font-family: Monospace;
}


.img {
    width: 100px;
    height: 100px;
    transition: 0.3s ease;
	float: left;
	border-radius: 50%;
}

.img:hover {
    transform: scale(1.1) rotate(5deg);
}

.image {
    width: 100px;
    height: 100px;
    transition: 0.3s ease;
    border-radius: 50%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;	
}

.image:hover {
    transform: scale(1.1) rotate(5deg);
}


.video {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.video iframe {
  width: 600px;
  max-width: 100%;
  height: 315px;
  border: none;
}

.product-banner {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 15px; 
}

.banner-img {
    width: 100%;
    height: auto;
    display: block;
    filter: brightness(70%); 
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 100%;
}

.overlayp {
	font-family: Cursive;
	color: #e9e1d4;
    text-shadow: 0 0 10px #6B4F2A,
                 0 0 20px #6B4F2A,
                 0 0 30px #6B4F2A;
}	

.banner-button {
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 34px;
	font-family: Monospace;
    transition: 0.3s;
    background-color: #A67C52;
    color: #e9e1d4;
    font-size: 20px;
    text-shadow: 0 0 30px #6B4F2A,
               0 0 10px #e9e1d4,
               0 0 20px #e9e1d4;
    box-shadow: 0 0 10px #c2a178,
                 0 0 20px #e9e1d4,
                 0 0 30px #8b5e3c;

}

.banner-button:hover {
    background-color: #6f4e37; 
}

.menu-image {
    width: 200px;
    height: 250px;
    border-radius: 100px;
    transition: all 0.3s ease; 
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

.menu-image:hover {
    outline: 5px solid #8B5E3C; 
    outline-offset: 10px;
    
    transform: scale(0.95);
    box-shadow: 0px 0px 20px rgba(139, 94, 60, 0.3);
}

.imeyj {
    width: 450px;
    height: 500px;
    transition: 0.3s ease;
    border-radius: 20%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;	
}