body {
  margin: 1px;
  padding: 1px;
  background-color: #456882;
}

ul {
  position: sticky;
  top: 0;
  z-index: 1000;
  margin: 1px;
  padding: 1px;
  background-color: #234C6A;
  text-align: center;
}

ul li {
  display: inline-block;
}

ul li a {
  display: block;
  padding: 15px 20px;
  border-radius: 30px;
  font-family: Lucida Console;
  text-shadow: 0 0 30px #D2C1B6,
               0 0 10px #D2C1B6;
}

ul li a:link {
  color: #D2C1B6;
  text-decoration: none;
}

ul li a:visited {
  color: #D2C1B6;
}

ul li a:hover {
  background-color: #456882;
  box-shadow: 0 0 10px #03346E,
              0 0 20px #6EACDA;
  transition: 0.3s;
}

ul li a:active {
  background-color: #03346E;
}

ul li a.active {
  background-color: #456882;
  box-shadow: 0 0 10px #03346E,
              0 0 20px #6EACDA;
}

h1 {
  margin: 10px;
  color: #D2C1B6;
  text-align: center;
  font-family: Papyrus;
  text-shadow: 0 0 30px #03346E,
               0 0 10px #03346E,
               0 0 20px #03346E;
}

p {
  margin: 10px;
  color: #D2C1B6;
  text-align: center;
  font-family: Garamond;
  font-size: 20px;
  text-shadow: 0 0 30px #D2C1B6,
               0 0 10px #D2C1B6;
}

.italic {
  font-style: italic;
  font-weight: bold;
}

blockquote {
  color: #D2C1B6;
  text-align: center;
  font-size: 10px;
}

.content-box {
  background-color: #234C6A;
  margin: 10px auto;
  padding: 10px;
  border-radius: 20px;
  max-width: 900px;
  box-shadow: 0 0 10px #03346E;
}

.image {
  width: 25%;
  display: block;
  margin: auto;
  border-radius: 20px;
}

#img {
  width: 200px;         
  height: auto;          
  display: block;         
  margin: 20px auto;      
  border-radius: 50% / 25%; 
}

.container {
  position: relative;
  width: 50%;
  margin: auto;
}

.overlay {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: #456882;
  box-shadow: 0 0 10px #03346E,
              0 0 20px #6EACDA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: #D2C1B6;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: Garamond;
  font-weight: bold;
  text-shadow: 0 0 30px #D2C1B6,
               0 0 10px #D2C1B6;
}

.button {
  background-color: #234C6A;
  border: none;
  border-radius: 34px;
  padding: 15px 32px;
  display: block;
  margin: 20px auto;
  font-size: 20px;
  cursor: pointer;
  font-family: Lucida Handwriting;
  font-weight: bold;
  text-shadow: 0 0 30px #D2C1B6,
               0 0 10px #D2C1B6;
}

.button:hover {
  background-color: #456882;
  box-shadow: 0 0 10px #03346E,
              0 0 20px #6EACDA;
}

a.btn {
  text-decoration: none;
  color: #D2C1B6;
}

.video {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.video iframe {
  width: 600px;
  max-width: 100%;
  height: 315px;
  border: none;
}




