body {
  margin: 1;
  padding: 1;
  background-color: #456882;
}

ul li a.active {
  background-color: #456882;
  box-shadow: 0 0 10px #03346E,
              0 0 20px #6EACDA;
  transition: 0.3s;
}

ul {
  position: sticky;
  top: 0;
  z-index: 1000;

  margin: 1;
  padding: 1;
  background-color: #234C6A;
  text-align: center;
}

h1 {
  margin: 10px;
  color: #D2C1B6;
  text-align: center;
  font-family: Papyrus;
  text-shadow: 0 0 30px #03346E,
               0 0 10px #03346E,
               0 0 20px #03346E;
}

p {
  margin: 10px; 
  color: #D2C1B6;
  text-align: center;
  font-family: Garamond;
  font-size: 20px;
  text-shadow: 0 0 30px #D2C1B6,
               0 0 10px #D2C1B6;
}

.italic {
  font-style: italic;
  font-weight: bold;
}

ul {
  margin: 1;
  padding: 1;
  background-color: #234C6A;
  text-align: center;
}

ul li {
display: inline-block;
}

ul li a {
  display: block;
  color: #D2C1B6;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  border-radius: 30px;
  font-family: Lucida Console;
  text-shadow: 0 0 30px #D2C1B6,
               0 0 10px #D2C1B6;
  text-decoration: none;
}

ul li a:hover {
  background-color: #456882;
  box-shadow: 0 0 10px #03346E,
              0 0 20px #6EACDA;
  transition: 0.3s;
}

div {
  background-color: #234C6A;
  margin: 10px auto;
  padding: 10px;
  border-radius: 20px;
  display: block;
  max-width: 900px;
  box-shadow: 0 0 10px #03346E;
}

blockquote {
  color: gray; 
  text-align: center;
  font-size: 10px;
}


.container {
  position: relative;
  width: 50%;
}

.image {
  width: 50%;
  height: 50%;
  display: block;
  margin: auto;
  border-radius: 20px;
}

.img {
  width: 50%;
  height: 50%;
  display: block;
  margin: auto;
  border-radius: 300px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #456882;
  box-shadow: 0 0 10px #03346E,
              0 0 20px #6EACDA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: #D2C1B6;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: Garamond;
  text-shadow: 0 0 30px #D2C1B6,
               0 0 10px #D2C1B6;
  font-weight: bold;
}

.button {
  background-color: #234C6A;
  border: none;
  border-radius: 34px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;        
  margin: 20px auto;     
  font-size: 20px;
  cursor: pointer;
  font-family: Lucida Handwriting;
  font-weight: bold;
  text-shadow: 0 0 30px #D2C1B6,
               0 0 10px #D2C1B6;
}

a.btn {
  text-decoration: none;
  color: #D2C1B6;
}

.button:hover {
  background-color: #456882;
  box-shadow: 0 0 10px #03346E,
              0 0 20px #6EACDA;
  transition: 0.3s;
}

.video-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.video-container iframe {
  width: 600px;
  max-width: 100%;
  height: 315px;
  border: none;
}


