<!DOCTYPE html>
<html>
<head>
<style>
body {
   background-color:#000c40;
   
}

{
  margin: 0;
  padding: 0;

}

h1 {
  margin: 10px;
  text-align: center;
  text-shadow: 2px 2px #061866;
  color: white;
  font-family: Lucida Console;
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000c40;
  display: flex;
  justify-content: center;
  
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 2px;
  
}

ul li {
  float: left;
  
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #061866;
  border-radius: 10px;
  
}

img {
  display: block;
  margin: 5px auto 0;
  width: 100%;
  max-width: 1200px;
  padding: 0;
  
}

.button1 {
  background-color: white;
  border: none;
  border-radius: 34px;
  color: #000c40;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;        
  margin: 20px auto;     
  font-size: 20px;
  cursor: pointer;
  font-family: Lucida Console;
  font-weight: bold;

}

.button1:hover {
  background-color: #061866;
  transition: 0.2s;
}

a {
  text-decoration: none;
  color: #000c40;
}

section {
  background-color: #0e1b53;
  margin: 10px auto;
  padding: 10px;
  border-radius: 30px;
  display: block;

}

</style>
</head>
<body>

<ul>
  <li><a href="">Home</a></li>
  <li><a href="">The Tale</a></li>
  <li><a href="">Behind the Legend</a></li>
  <li><a href="">My Profile</a></li>
</ul>


<img src="https://mythicalcreatures.info/media/Tikbalang-mythical-creature-from-Philippine-folklorepng-2-1200x900.jpg">

<br><br><br>

<h1>TIKBALANG</h1>

<br><br>

<button class="button button1"><a href="">The Tale</a></button>

<section>
  <h2 align="center">About</h2>
  <p align="center">Some text on the website.</p>
</section>


</body>
</html>
