body {
  background-color: #000c40;
}

.image-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 5px auto 0;
}

.image-container img {
  display: block;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.image-container .text {
  position: absolute;
  top: 50%;                
  left: 50%;               
  transform: translate(-50%, -50%);
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 3px 3px #bcbcbc;
  font-family: Lucida Console;
}

.button2 {
  background-color: white;
  border: none;
  border-radius: 34px;
  color: #000c40;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;        
  margin: 20px auto;     
  font-size: 16px;
  cursor: pointer;
  font-family: Lucida Console;
  font-weight: bold;
}

.button2:hover {
  background-color: #061866;
  transition: 0.2s;
}

.button3 {
  background-color: white;
  border: none;
  border-radius: 34px;
  color: #000c40;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;        
  margin: 20px auto;     
  font-size: 16px;
  cursor: pointer;
  font-family: Lucida Console;
  font-weight: bold;
}

.button3:hover {
  background-color: #061866;
  transition: 0.2s;
}

.button4 {
  background-color: white;
  border: none;
  border-radius: 34px;
  color: #000c40;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;        
  margin: 20px auto;     
  font-size: 16px;
  cursor: pointer;
  font-family: Lucida Console;
  font-weight: bold;
}

.button4:hover {
  background-color: #061866;
  transition: 0.2s;
}

a {
  display: block;
  color: #000c40;
  text-align: center;
  padding: 0;
  text-decoration: none;
}

section {
  background-color: #0e1b53;
  margin: 10px auto;
  padding: 10px;
  border-radius: 30px;
  display: block;
  max-width: 400px;

}
